# LLM
GROQ_API_KEY = ...

# Embedding
JINA_API_KEY = ...

# AI Gateway
PORTKEY_API_KEY = ...

# Cloud Vector Database
QDRANT_URL = ...
QDRANT_API_KEY = ...

# LangSmith - Evaluation & Observability
LANGSMITH_TRACING = ...
LANGSMITH_API_KEY = ...
LANGSMITH_PROJECT = ...
LANGSMITH_ENDPOINT = ...
